{% extends 'base.html' %}
{% load static%}
{% block childpage %}

<div class="container">
    <div class="row my-5">
        <div class="col-sm-6">
            <img src="{% static 'assets/About Us.jpg' %}" style="height: 400px; width : 500px;" class="image-fluid">
        </div>
        <div class="col-sm-6">
            <h1 >About <b class="maroon-text">Us</b></h1>
            <p>
NewsSphere redefines the essence of news delivery by focusing on the core principle of authenticity. Unlike traditional newspapers, which may be bogged down by the concept of "paper," NewsSphere places emphasis on "news"—delivering accurate, timely, and comprehensive information about global events and local happenings.

At NewsSphere, our mission is to provide real news, devoid of rumors and misinformation. We are committed to highlighting significant issues that shape our world, working diligently to keep our readers informed with integrity and reliability. Our goal is not just to capture attention, but to engage and inform through well-crafted, humorous, and descriptive content.
We believe that more information is always better than less, and strive to present it in a way that is both
engaging and enlightening. Whether through detailed articles, witty commentary, or insightful analysis, NewsSphere aims to be your trusted source for news.</p>
        </div>
    </div>
</div>













{% endblock%}